<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wapchief.flutter_vivo_push_plugin">

    <application>
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:permission="com.push.permission.UPSTAGESERVICE"
            android:exported="true"/>
        <receiver
            android:name="com.wapchief.flutter_vivo_push_plugin.VivoPushMessageReceiver"
            android:exported="false">
            <intent-filter>
                <!--接收push消息-->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
